# ---- Python ----
__pycache__/
*.py[cod]
.env
.env.*
*.sqlite3
venv/
*.egg-info/
dist/
build/

# ---- Node / React ----
node_modules/
npm-debug.log*
yarn-debug.log*
.yarn/

# ---- OS clutter ----
.DS_Store
Thumbs.db
